In [2]:
import pandas as pd
import random as rn
import numpy as np

# Визуализация
%matplotlib inline
import matplotlib.pyplot as plt

# модели
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# Метрики
from sklearn.metrics import mean_squared_log_error, r2_score, root_mean_squared_log_error, mean_squared_error

In [3]:
import sklearn
sklearn.__version__

'1.4.1.post1'

In [4]:
# загрзка обучающего датасета
data_train = pd.read_csv("train.csv")

In [5]:
print(data_train.shape)

(30471, 292)

In [6]:
# отображение всех столбцов
pd.options.display.max_columns = 500

data_train.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,9576,5001.0,5,10309,11065.0,5,0,240.0,1,0,7,3,no,0,16,1,no,no,no,no,no,no,no,no,86206,40477,45729,21154,11007,10147,98207,52277,45930,36211,10580,25631,9576,4899,4677,10309,5463,4846,23603,12286,11317,17508,9425,8083,18654,9709,8945,211.0,25.0,0.0,0.0,0.0,2.0,184.0,0.0,0.0,0.0,211.0,0.0,0.0,0.0,206.0,5.0,1,2.590241,1.131260,13.575119,1.131260,0.145700,0.177975,2.158587,0.600973,1.080934,23.683460,1.804127,3.633334,5.419893,65.038716,1.0,5.419893,6.905893,1,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,13.675657,15.156211,1.422391,1,no,3.830951,5,1.305159,no,14.231961,101,24.292406,1,18.152338,5.718519,1.210027,1.062513,5.814135,4.308127,10.814172,1.676258,0.485841,3.065047,1.107594,8.148591,3.516513,2.392353,4.248036,0.974743,6.715026,0.884350,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,3.932040,14.053047,7.389498,7.023705,0.516838,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,7.36,0.00,1,30500,3,55600,19,527.78,888.89,708.33,1,10,4,3,1,0,0,1,2,0,0,6,1,14.27,6.92,3,39554,9,171420,34,566.67,969.70,768.18,1,14,11,6,2,0,0,1,2,0,0,7,1,11.77,15.97,9,188854,19,1244891,36,614.29,1042.86,828.57,1,15,11,6,2,1,0,1,2,0,0,10,1,11.98,13.55,12,251554,23,1419204,68,639.68,1079.37,859.52,5,21,22,16,3,1,0,2,4,0,0,21,1,13.09,13.31,29,807385,52,4036616,152,708.57,1185.71,947.14,12,39,48,40,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,6880,3119.0,5,7759,6237.0,8,0,229.0,1,0,6,1,yes,1,3,0,no,no,no,no,no,no,no,no,76284,34200,42084,15727,7925,7802,70194,35622,34572,29431,9266,20165,6880,3466,3414,7759,3909,3850,17700,8998,8702,15164,7571,7593,13729,6929,6800,245.0,83.0,1.0,0.0,67.0,4.0,90.0,0.0,0.0,0.0,244.0,1.0,1.0,143.0,84.0,15.0,2,0.936700,0.647337,7.620630,0.635053,0.147754,0.273345,0.550690,0.065321,0.966479,1.317476,4.655004,8.648587,3.411993,40.943917,2.0,3.641773,4.679745,2,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,8.132640,8.698054,2.887377,2,no,3.103996,4,0.694536,no,9.242586,32,5.706113,2,9.034642,3.489954,2.724295,1.246149,3.419574,0.725560,6.910568,3.424716,0.668364,2.000154,8.972823,6.127073,1.161579,2.543747,12.649879,1.477723,1.852560,0.686252,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,4.841544,6.829889,0.709260,2.358840,0.230287,excellent,25.14,0.00,0,0,0,0,5,860.00,1500.00,1180.00,0,1,3,0,0,1,0,0,1,0,0,0,0,26.66,0.07,2,86600,5,94065,13,615.38,1076.92,846.15,0,5,6,1,0,1,0,1,2,0,4,2,0,21.53,7.71,3,102910,7,127065,17,694.12,1205.88,950.00,0,6,7,1,2,1,0,1,5,0,4,9,0,22.37,19.25,4,165510,8,179065,21,695.24,1190.48,942.86,0,7,8,3,2,1,0,1,5,0,4,11,0,18.07,27.32,12,821986,14,491565,30,631.03,1086.21,858.62,1,11,11,4,2,1,0,1,7,0,6,19,1,10.26,27.47,66,2690465,40,2034942,177,673.81,1148.81,911.31,9,49,65,36,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,5879,1463.0,4,6207,5580.0,7,0,1183.0,1,0,5,1,no,0,0,1,no,no,no,yes,no,no,no,no,101982,46076,55906,13028,6835,6193,63388,31813,31575,25292,7609,17683,5879,3095,2784,6207,3269,2938,14884,7821,7063,19401,9045,10356,11252,5916,5336,330.0,59.0,0.0,0.0,206.0,4.0,60.0,0.0,1.0,0.0,330.0,1.0,0.0,246.0,63.0,20.0,3,2.120999,1.637996,17.351515,1.445960,0.049102,0.158072,0.374848,0.453172,0.939275,4.912660,3.381083,11.996480,1.277658,15.331896,3.0,1.277658,1.701420,3,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,8.054252,9.067885,0.647250,3,no,2.927487,4,0.700691,no,9.540544,5,6.710302,3,5.777394,7.506612,0.772216,1.602183,3.682455,3.562188,5.752368,1.375443,0.733101,1.239304,1.978517,0.767569,1.952771,0.621357,7.682303,0.097144,0.841254,1.510089,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,7.922152,4.273200,3.156423,4.958214,0.190462,poor,1.67,0.00,0,0,0,0,3,666.67,1166.67,916.67,0,0,2,1,0,0,0,0,0,0,0,0,0,4.99,0.29,0,0,0,0,9,642.86,1142.86,892.86,2,0,5,2,0,0,0,0,1,0,0,5,3,9.92,6.73,0,0,1,2600,14,516.67,916.67,716.67,2,4,6,2,0,0,0,0,4,0,0,6,5,12.99,12.75,4,100200,7,52550,24,563.64,977.27,770.45,2,8,9,4,1,0,0,0,4,0,0,8,5,12.14,26.46,8,110856,7,52550,41,697.44,1192.31,944.87,2,9,17,9,3,1,0,0,11,0,0,20,6,13.69,21.58,43,1478160,35,1572990,122,702.68,1196.43,949.55,10,29,45,25,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino,1.258354e+07,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.623710,2.017080,14.317640,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,5706,3240.0,7,6748,7770.0,9,0,562.0,4,2,25,2,no,0,10,93,no,no,no,yes,yes,no,no,no,28179,13522,14657,13368,7159,6209,68043,34236,33807,26760,8563,18197,5706,2982,2724,6748,3664,3084,15237,8113,7124,5164,2583,2581,11631,6223,5408,746.0,48.0,0.0,0.0,643.0,16.0,35.0,0.0,3.0,1.0,746.0,371.0,114.0,146.0,62.0,53.0,5,1.257186,0.876620,8.266305,0.688859,0.247901,0.376838,0.258289,0.236214,0.392871,10.683540,2.936581,11.903910,0.853960,10.247521,5.0,1.595898,2.156284,113,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,0.787593,2.578671,1.721834,4,no,3.133531,10,0.084113,yes,1.595898,113,1.423428,4,6.515857,8.671016,1.638318,3.632640,4.587917,2.609420,9.155057,1.969738,0.220288,2.544696,3.975401,3.610754,0.307915,1.864637,3.779781,1.121703,0.991683,0.892668,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,2.584370,1.112486,1.800125,1.339652,0.026102,excellent,3.56,4.44,15,293699,1,45000,48,702.22,1166.67,934.44,3,17,10,11,7,0,0,1,4,0,2,3,0,3.34,8.29,46,420952,3,158200,153,763.45,1272.41,1017.93,8,39,45,39,19,2,1,7,12,0,6,7,0,4.12,4.83,93,1195735,9,445900,272,766.80,1272.73,1019.76,19,70,74,72,30,6,1,18,30,0,10,14,2,4.53,5.02,149,1625130,17,564843,483,765.93,1269.23,1017.58,28,130,129,131,50,14,1,35,61,0,17,21,3,5.06,8.62,305,3420907,60,2296870,1068,853.03,1410.45,1131.74,63,266,267,262,149,57,4,70,121,1,40,77,5,8.38,10.92,689,8404624,114,3503058,2283,853.88,1411.45,1132.66,143,566,578,552,319,108,17,135,236,2,91,195,14,16331452

### Выбор столбцов (признаков) для обучения

price_doc: цена продажи (это целевая переменная)

full_sq: общая площадь в квадратных метрах, включая лоджии, балконы и другие нежилые помещения

life_sq: жилая площадь в квадратных метрах, за исключением лоджий, балконов и других нежилых помещений

floor: для квартир, этаж здания

max_floor: количество этажей в

material: материал стен

build_year: год постройки

num_room: количество жилых комнат

kitch_sq: площадь кухни

state: состояние квартиры 

product_type: покупка для частного использования или инвестиция

sub_area: название района

metro_km_walk:	Расстояние до метро

park_km:	Расстояние до парка

sadovoe_km:	Расстояние до Садового кольца

kremlin_km:	Расстояние до центра города (Кремля)

oil_chemistry_raion:	Наличие грязных производств

shopping_centers_raion:	Количество торговых центров в округе

healthcare_centers_raion:	Количество медицинских центров в округе

school_education_centers_raion:	Количество средних учебных заведений

In [8]:
# выбор столбцов текстовых
data_train.select_dtypes('object').head(5)

,timestamp,product_type,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology
0,2011-08-20,Investment,Bibirevo,no,no,no,no,no,no,no,no,no,no,no,no,good
1,2011-08-23,Investment,Nagatinskij Zaton,yes,no,no,no,no,no,no,no,no,no,no,no,excellent
2,2011-08-27,Investment,Tekstil'shhiki,no,no,no,no,yes,no,no,no,no,no,no,no,poor
3,2011-09-01,Investment,Mitino,no,no,no,no,no,no,no,no,no,no,no,no,good
4,2011-09-05,Investment,Basmannoe,no,no,no,no,yes,yes,no,no,no,no,no,yes,excellent

In [10]:
# удаляем столбцы не представляющие никакого интереса
data_train = data_train.drop(['timestamp'], axis=1)

In [19]:
liner = len(data_train)
liner

30471

In [13]:
data_train['product_type'].unique()

array(['Investment', 'OwnerOccupier'], dtype=object)

в столбце "product_type" перечисляются типы продаж:

для инвестиций  -  Investment

для частного использования  -  OwnerOccupier

преобразуем значения:

Investment  -  1

OwnerOccupier  -  2

In [14]:
data_train['product_type'] = data_train['product_type'].replace(['Investment','OwnerOccupier'],[1,2])
data_train['product_type'].unique()

array([1, 2], dtype=int64)

In [23]:
print(data_train['product_type'].info())
print('\nВсего строк: ', liner)

<class 'pandas.core.series.Series'>
RangeIndex: 30471 entries, 0 to 30470
Series name: product_type
Non-Null Count  Dtype
--------------  -----
30471 non-null  int64
dtypes: int64(1)
memory usage: 238.2 KB
None

Всего строк:  30471

In [59]:
# рассмотрим столбец sub_area, это столбец с микрорайонами
d = data_train['sub_area'].value_counts()
d_sa = d. to_frame()
#i = 1
for i in range(len(d_sa['sub_area'])):
    d_sa.loc[i, 'num'] = i


d_sa

KeyError: 'sub_area'

In [31]:
type(d)

pandas.core.series.Series

In [41]:
# составление датафрейма
data_X = data_train[['full_sq',
                     'life_sq',
                     'floor',
                     'max_floor',
                     'material',            #продумать целесообразность использования
                     'build_year',
                     'num_room',
                     'kitch_sq',
                     'state',
                     'product_type',
                     'sub_area',
                     'metro_km_walk',
                     'park_km',
                     'sadovoe_km',
                     'kremlin_km',
                     'oil_chemistry_raion',
                     'shopping_centers_raion',
                     'healthcare_centers_raion',
                     'school_education_centers_raion']]
data_X.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,metro_km_walk,park_km,sadovoe_km,kremlin_km,oil_chemistry_raion,shopping_centers_raion,healthcare_centers_raion,school_education_centers_raion
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo,1.131260,2.158587,13.100618,15.156211,no,16,1,5
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,0.635053,0.550690,6.444333,8.698054,no,3,1,8
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,1.445960,0.374848,6.963403,9.067885,no,0,1,7
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino,0.963802,0.078090,17.457198,19.487005,no,11,1,10
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe,0.688859,0.258289,0.046810,2.578671,no,10,4,9

In [42]:
numerical_cols = data_X.select_dtypes(include=['int64', 'float64']).columns
print("Числовые колонки:", numerical_cols)

categorical_cols = data_X.select_dtypes(include=['object', 'category']).columns
print("Категориальные колонки:", categorical_cols)

Числовые колонки: Index(['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year',
       'num_room', 'kitch_sq', 'state', 'metro_km_walk', 'park_km',
       'sadovoe_km', 'kremlin_km', 'shopping_centers_raion',
       'healthcare_centers_raion', 'school_education_centers_raion'],
      dtype='object')
Категориальные колонки: Index(['product_type', 'sub_area', 'oil_chemistry_raion'], dtype='object')

In [43]:
# удаление объектов
data_X = data_X.drop(['product_type', 'sub_area', 'oil_chemistry_raion'], axis=1)
data_X.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,metro_km_walk,park_km,sadovoe_km,kremlin_km,shopping_centers_raion,healthcare_centers_raion,school_education_centers_raion
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,1.131260,2.158587,13.100618,15.156211,16,1,5
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.635053,0.550690,6.444333,8.698054,3,1,8
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.445960,0.374848,6.963403,9.067885,0,1,7
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.963802,0.078090,17.457198,19.487005,11,1,10
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0.688859,0.258289,0.046810,2.578671,10,4,9

In [8]:
#np.object = object
#data_X.loc[:,data_X.dtypes==np.object].columns.to_list()

In [31]:
# удаление из полного файла, пока не брать
pd.options.display.max_columns = 500

data_X = data_train.drop(['timestamp',
                      'product_type',
                      'sub_area',
                      'culture_objects_top_25',
                      'thermal_power_plant_raion',
                      'incineration_raion',
                      'oil_chemistry_raion',
                      'radiation_raion',
                      'railroad_terminal_raion',
                      'big_market_raion',
                      'nuclear_reactor_raion',
                      'detention_facility_raion',
                      'water_1line',
                      'big_road1_1line',
                      'railroad_1line',
                      'ecology',
                      'price_doc'], axis=1)     #удаляем правильные ответы

In [44]:
# подсчет сколько пропущенных значений
data_X.isnull().sum()

full_sq                               0
life_sq                            6383
floor                               167
max_floor                          9572
material                           9572
build_year                        13605
num_room                           9572
kitch_sq                           9572
state                             13559
metro_km_walk                        25
park_km                               0
sadovoe_km                            0
kremlin_km                            0
shopping_centers_raion                0
healthcare_centers_raion              0
school_education_centers_raion        0
dtype: int64

In [ ]:
data_X = data_X[['life_sq',
                 'floor',
                 'max_floor',
                 'material',
                 'build_year',
                 'num_room',
                 'kitch_sq',
                 'state',
                 'metro_km_walk']] = data_X[['life_sq',
                                             'floor',
                                             'max_floor',
                                             'material',
                                             'build_year',
                                             'num_room',
                                             'kitch_sq',
                                             'state',
                                             'metro_km_walk']].fillna(df[['rating', 'points']].mean())

In [45]:
data_X = data_X.fillna(data_X.median())

In [46]:
data_X.isnull().sum()

full_sq                           0
life_sq                           0
floor                             0
max_floor                         0
material                          0
build_year                        0
num_room                          0
kitch_sq                          0
state                             0
metro_km_walk                     0
park_km                           0
sadovoe_km                        0
kremlin_km                        0
shopping_centers_raion            0
healthcare_centers_raion          0
school_education_centers_raion    0
dtype: int64

In [47]:
data_X

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,metro_km_walk,park_km,sadovoe_km,kremlin_km,shopping_centers_raion,healthcare_centers_raion,school_education_centers_raion
0,43,27.0,4.0,12.0,1.0,1979.0,2.0,6.0,2.0,1.131260,2.158587,13.100618,15.156211,16,1,5
1,34,19.0,3.0,12.0,1.0,1979.0,2.0,6.0,2.0,0.635053,0.550690,6.444333,8.698054,3,1,8
2,43,29.0,2.0,12.0,1.0,1979.0,2.0,6.0,2.0,1.445960,0.374848,6.963403,9.067885,0,1,7
3,89,50.0,9.0,12.0,1.0,1979.0,2.0,6.0,2.0,0.963802,0.078090,17.457198,19.487005,11,1,10
4,77,77.0,4.0,12.0,1.0,1979.0,2.0,6.0,2.0,0.688859,0.258289,0.046810,2.578671,10,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,3.0,0.679841,1.972527,10.543724,12.599292,9,1,4
30467,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,3.0,0.781217,1.036452,1.203215,3.269284,23,3,4
30468,45,30.0,10.0,20.0,1.0,1979.0,1.0,1.0,1.0,1.722233,4.566595,19.868997,21.905792,1,0,0
30469,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,2.0,2.047312,1.772506,11.752036,13.622569,4,2,8
30470,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,0.454650,0.848766,9.675169,11.812614,5,2,4

In [48]:
data_X[data_X == 0].count()

full_sq                               2
life_sq                              45
floor                                 9
max_floor                           550
material                              0
build_year                          530
num_room                             14
kitch_sq                           1381
state                                 0
metro_km_walk                         1
park_km                               0
sadovoe_km                            0
kremlin_km                            0
shopping_centers_raion             7471
healthcare_centers_raion          12842
school_education_centers_raion     6685
dtype: int64

In [49]:
# загрузка правильных ответов
data_y = pd.DataFrame()
data_y['price_doc'] = data_train['price_doc']

In [52]:
data_y.astype(float)

        price_doc
0       5850000.0
1       6000000.0
2       5700000.0
3      13100000.0
4      16331452.0
...           ...
30466   7400000.0
30467  25000000.0
30468   6970959.0
30469  13500000.0
30470   5600000.0

[30471 rows x 1 columns]

In [61]:
data_X.build_year.dtype

dtype('float64')

In [25]:
data_y.price_doc.info()
data_X.build_year.info()

<class 'pandas.core.series.Series'>
RangeIndex: 30471 entries, 0 to 30470
Series name: price_doc
Non-Null Count  Dtype
--------------  -----
30471 non-null  int64
dtypes: int64(1)
memory usage: 238.2 KB
<class 'pandas.core.series.Series'>
RangeIndex: 30471 entries, 0 to 30470
Series name: build_year
Non-Null Count  Dtype
--------------  -----
16866 non-null  float64
dtypes: float64(1)
memory usage: 238.2 KB

In [62]:
# разделяем на обучающую выборку и тестовую
X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.3, shuffle=False, random_state=42)

In [63]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((21329, 16), (9142, 16), (21329, 1), (9142, 1))

In [67]:
data_X.build_year.astype(int)

0        1979
1        1979
2        1979
3        1979
4        1979
         ...
30466    1975
30467    1935
30468    1979
30469    2003
30470    1968
Name: build_year, Length: 30471, dtype: int32

In [75]:
#plt.figure(figsize=(8, 8))
plt.scatter(data_X, x='life_sq', y='life_sq')
plt.show

TypeError: scatter() got multiple values for argument 'x'

In [70]:
%%time

# обучаем модель с помощью дерева решений
clf = DecisionTreeRegressor(max_depth=3,min_samples_leaf=15)
clf.fit(X_train, y_train)

# получаем предсказания
predicted = clf.predict(X_test)

# выводим RMSLE
print('RMSLE: ', mean_squared_log_error(y_test,predicted, squared=False))
print('r2', r2_score(y_test, predicted))
print('MSE', mean_squared_error(y_test,predicted))

RMSLE:  0.4946049996510067
r2 0.4881060662042036
MSE 14165279749972.129
CPU times: total: 46.9 ms
Wall time: 48.2 ms

c:\Users\Stas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:666: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared logarithmic error, use the function'root_mean_squared_log_error'.
  warnings.warn(

In [ ]:
scores = cross_val_score(lr, X, y, cv=5, scoring='r2')