In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('test_database')

In [3]:
data = {
        'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }

df = pd.DataFrame(data)
df

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    450
3      Printer    150

In [4]:
df.to_sql('products', conn, if_exists='replace', index = False)
conn.commit()
conn.close()

In [5]:
df.to_csv('products.csv')
df.to_excel('products.xlsx')